@model IEnumerable<Biblio.Models.ViewModels.UserManageViewModel>

@{
    ViewData["Title"] = "Manage Users";
}

<div class="table-container card shadow-sm">
    <table class="table-content">
        <thead class="table-header">
            <tr>
                <th class="header-cell">Username</th>
                <th class="header-cell">Email</th>
                <th class="header-cell">Plan Type</th>
                <th class="header-cell">Role</th>
                <th class="header-cell"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="table-row">
                    <td class="data-cell">@user.UserName</td>
                    <td class="data-cell">@user.Email</td>
                    <td class="data-cell">@user.PlanType.ToString()</td>
                    <td class="data-cell">@user.Role</td>
                    <td class="data-cell actions-cell">
                        <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-sm btn-outline-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>