@using Microsoft.AspNetCore.Identity
@using Biblio.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-account">
        <div class="user-info" id="userInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="user-details">
                <p class="user-name">@UserManager.GetUserName(User)</p>
                <p class="account-menu-text">Account Menu</p>
            </div>
            <img src="~/img/userlogo.jpg" alt="User Avatar" class="user-avatar" />
        </div>

        <div class="user-dropdown dropdown-menu dropdown-menu-end" id="userDropdown">
            <div class="dropdown-header">
                <p class="dropdown-user-name">@UserManager.GetUserName(User)</p>
                <p class="dropdown-user-email">@UserManager.GetUserAsync(User).Result.Email</p>
                <p class="dropdown-plan">@UserManager.GetUserAsync(User).Result.PlanType</p>
                <p
                    class="dropdown-role">
                    @if (UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.Count > 0)
                    {
                        @string.Join(", ", UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result)
                    }
                    else
                    {
						<span class="text-muted">No role assigned</span>
                    }
				</p>
            </div>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">
				<i class="fas fa-user-circle"></i>
				Profile
                <i class="fas fa-chevron-right"></i>
            </a>
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="fas fa-gear"></i>
                Account Settings
                <i class="fas fa-chevron-right"></i>
            </a>
            <a href="#" class="dropdown-item">
                Go Pro!
                <span class="upgrade-tag">Upgrade Now</span>
            </a>
        </div>
    </div>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
}


